@keyframes arrivee_messages_utilisateur {
    0% {
        opacity: 0;
        margin-left: 500px;
    }

    100% {
        opacity: 100%;
        margin-left: 55%
    }
}

@keyframes arrivee_messages_autre_utilisateur {
    0% {
        opacity: 0;
        margin-right: 500px;
    }

    100% {
        opacity: 100%;
        margin-right: 0;
    }
}

.conversations {
    border-radius: 0 18px 18px 0;
    border-right: 3px rgba(255, 255, 255, 0.596) solid;
}

.conversations2 {
    border-radius: 0 18px 18px 0;
    border-right: 4px rgba(159, 159, 159, 0.596) solid;
}

.addConv button {
    width: fit-content;
    height: 28px;
    border-radius: 10px;
    background-color: white;
    border-width: 0;
    padding: 3px;
    color: black;
    transition: 0.5s;
}

.addConv button:active {
    background-color: green;
    color: white;
}

.conversation_bottom {
    bottom: 5%;
}

.disconnectButton {
    transition: 2s;
}

.disconnectButton:hover {
    transform: translateY(-8px);
    background-color: rgb(253, 46, 46);
    cursor: pointer;
}

.userSide p {
    margin-left: 55%;
    animation-name: arrivee_messages_utilisateur;
    animation-delay: 0;
    animation-duration: 2s;
}

.otherSide p {
    animation-name: arrivee_messages_autre_utilisateur;
    animation-delay: 0;
    animation-duration: 2s;
}

.controls button {
    width: fit-content;
    height: 32px;
    background-color: white;
    border-radius: 12px;
    border-width: 0;
    color: rgb(32, 32, 32);
    font-weight: bold;
    opacity: 68%;
    transition: 2s;
}

.controls button:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 100%;
}

.controls button:active {
    transform: translateX(18px);
}