@keyframes arrivee_messages_utilisateur {
    0% {
        opacity: 0;
        margin-left: 500px;
    }

    100% {
        opacity: 100%;
        margin-left: 55%
    }
}

@keyframes arrivee_messages_autre_utilisateur {
    0% {
        opacity: 0;
        margin-right: 500px;
    }

    100% {
        opacity: 100%;
        margin-right: 0;
    }
}

.corps {
    background-color: rgb(14, 14, 79);
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    font-family: sans-serif;
}

.conversations {
    width: 30%;
    height: 100%;
    border-radius: 0 18px 18px 0;
    border-right: 3px rgba(255, 255, 255, 0.596) solid;
    background-color: rgb(18, 18, 103);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 25px;
    overflow: hidden;
}

.addConv {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    gap: 15px;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.addConv input[type='text'] {
    width: 80%;
    height: 28px;
    border-radius: 12px;
    background-color: white;
    border-width: 0;
    padding: 5px;
    color: black;
}

.addConv button {
    width: 15%;
    height: 28px;
    border-radius: 12px;
    background-color: white;
    border-width: 0;
    padding: 5px;
    color: black;
    transition: 0.5s;
}

.addConv button:active {
    background-color: green;
    color: white;
}

.conversation_bottom {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
    bottom: 5%;
    position: absolute;
}

.disconnectButton {
    width: 130px;
    height: 35px;
    border-radius: 12px;
    border-width: 0;
    background-color: rgb(216, 85, 85);
    color: white;
    transition: 2s;
}

.disconnectButton:hover {
    transform: translateY(-8px);
    background-color: rgb(253, 46, 46);
    cursor: pointer;
}

.rightPart {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.affichageMessage {
    width: 100%;
    height: 85%;
    display: flex;
    flex-direction: row;
    padding: 15px;
}

.otherSide {
    width: 50%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    justify-content: left;
    padding-left: 5px;
}

.userSide {
    width: 50%;
    height: 100%;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}

.message {
    margin-top: 18px;
    background-color: white;
    width: fit-content;
    color: rgb(36, 36, 36);
    border-radius: 10px;
    padding: 8px;
}

.userSide p {
    margin-left: 55%;
    animation-name: arrivee_messages_utilisateur;
    animation-delay: 0;
    animation-duration: 2s;
}

.otherSide p {
    animation-name: arrivee_messages_autre_utilisateur;
    animation-delay: 0;
    animation-duration: 2s;
}

.controls {
    height: 15%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.controls input[type="text"] {
    width: 65%;
    height: 32px;
    border-radius: 12px;
    border-width: 0;
    background-color: white;
    padding: 5px;
    color: rgb(39, 39, 39);
}

.controls button {
    width: 6%;
    height: 32px;
    background-color: white;
    border-radius: 12px;
    border-width: 0;
    color: rgb(32, 32, 32);
    font-weight: bold;
    opacity: 68%;
    transition: 2s;
}

.controls button:hover {
    cursor: pointer;
    transform: scale(1.05);
    opacity: 100%;
}

.controls button:active {
    transform: translateX(18px);
}