@keyframes slide_up {
    0% {
        opacity: 0;
        margin-top: 500px;
    }

    100% {
        opacity: 100%;
        margin-top: 0;
    }
}

.corps {
    background: linear-gradient(to bottom right, #0e0e4f, #530080);
    background-attachment: fixed;
}

.box {
    background-color: #ffffff77;
    animation-name: slide_up;
    animation-duration: 3s;
    animation-delay: 0;
}

.envoit {
    transition: 2s;
}

.envoit:hover {
    transform: translateY(-15px);
    background-color: rgb(65, 65, 255);
    color: #ffffff;
    cursor: pointer;
}